*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f9f9f9;
    font-family: 'Roboto', sans-serif;
    color: #222;
}

header{
    padding: 1rem;
    background-color: white;
    border-bottom: 2px solid #f2f2f2;

    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 100px;
}

.search input[type='search']{
    width: 400px;
    padding: 0.23rem;
    border-radius: 2px;    
    border: 1px solid #ccc;
}

.button{
    padding: 0.25rem 1.5rem;
    border-radius: 2px;
    border: 1px solid #2c5fd5;
    color: #2c5fd5;
    text-decoration: none;
    font-weight: bold;

}

main{
    margin: auto;
    background-color: #ddd;
    display: grid;
    grid-template-areas:
        'video-player  video-player'
        'video-info    video-info'
        'actions       actions'
        'channel       subscribe'
        'up-next       up-next';
}

.video-player{
    position: relative;
    padding: 1rem 0 56.25% 1rem;
    height: 0;
    overflow: hidden;
    text-align: center;
    grid-area: video-player;
}

.video-player iframe,
.video-player object,
.video-player embed{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-info{
    background-color: #999;
    grid-area: video-info;
}

.actions{
    background-color: #744;
    grid-area: actions;
}

.channel{
    background-color: #555;
    grid-area: channel;
}

.subscribe{
    background-color: #888;
    grid-area: subscribe;
}

.ads{
    background-color: #def;
    grid-area: ads;
}

.up-next{
    background-color: #333;
    grid-area: up-next;
}

@media screen and (max-width: 700px){
    .search, .ads{
        display: none;
    }
}

@media screen and (min-width: 700px){
    header{
        grid-template-columns: auto auto auto;
    }

    main{
        max-width: 1200px;

        grid-template-areas:
        'video-player  video-player ads'
        'video-player  video-player up-next'
        'video-info    actions      up-next'
        'channel       subscribe    up-next';              
    }
}